<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="FF_Test">
		<parameter name="browserName" value="FF"></parameter>
		<parameter name="url"
			value="http://automationpractice.com/"></parameter>
		<classes>
			<class name="com.hms.testcases.DashboardPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
